<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/defaultTheme.css">
</head>
<body>
    <div id="app">
        <div id="blackout" v-if="activeBlackout" @keyup.esc = 'close'>
            <div id="auth-menu">
                <div id="auth-menu-block">
    <h1 id="title-auth">{{ blackoutContent.title }}</h1>
    <div class="blackoutMenuItem" v-for="item in blackoutContent.items ">
        <div class="setting">
            <div class="settingName dark" @click="item.action">{{ item.name }}</div>
        </div>
    </div>
    <button class="saveBtn">Сохранить</button>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <div id="userInfo">
                <div id="avatarBlock">
                    <img width="60px" src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" alt="">
                </div>
                <div id="userInfoBlock">
                    <div id="username">{{ user.name }}</div>
                    <div id="userStatus">{{ user.status }}</div>
                </div>
                <div id="editBlock">
                    <img width="30px" src="images/edit.png" alt="">
                </div>
            </div>
            <div id="menu">
                <div class="menuItem" 
                @click="selected = 'chats'"
                :class="{active : selected == 'chats'}">
                    <img src="images/messages.png">
                </div>
                <div class="menuItem" 
                @click="selected = 'contacts'"
                :class="{active : selected == 'contacts'}">
                    <img src="images/friends.png">
                </div>
                <div class="menuItem" 
                @click="selected = 'dial'"
                :class="{active : selected == 'dial'}">
                    <img src="images/dial.png">
                </div>
                <div class="menuItem" 
                @click="selected = 'settings'"
                :class="{active : selected == 'settings'}">
                    <img src="images/settings.png">
                </div>
        </div>
        <input type="text"
        placeholder="Search"
        id="search"
        v-model="searchValue"
        @input="Search">
        <div id="menuItems" v-if="selected == 'chats'">
            <div class="chatItem"
            v-for="chat in chats.visibleChats"
            @click="select(chat)">
                <div class="chatAvatar">
                    <img :src="chat.avatarUrl">
                </div>
                <div class="chatInfo">
                    <div class="chatName">{{ chat.name}}</div>
                    <div class="chatLastMessage">{{ chat.description }}</div>
                </div>
            </div>
        </div>
        <div id="menuItems" v-if="selected == 'settings'">
            <div class="setting" @click="chooseSetting('theme')">
                <div class="settingName" >Тема :</div>
                <div class="settingSelected">Default</div>
            </div>
            <div class="setting">
                <div class="settingName">Язык :</div>
                <div class="settingSelected">Русский</div>
            </div>
        </div>
    </div>
        <div id="chat">
            <div id="chatHeader">
                <div id="chatHeaderWrapper">
                    <div id="chatAvatar">
    <img :src="selectedItem.avatarUrl"/>
                </div>
                <div id="chatInfo">
                    <div id="chatName">{{ selectedItem.name }}</div>
                    <div id="chatDesc">{{ selectedItem.description }}</div>
                </div>
                </div>
                <div id="invite">
                    <a href="#">Пригласить</a>
                </div>
            </div>
            <div id="messages">
                <div class="message"
                v-for="message in selectedItem.messages"
                >
                    <div class="senderInfo">
                        <div class="senderAvatar">
                            <img :src="message.avatarUrl">
                        </div>
                        <div class="senderName">{{ message.sender }}</div>
                        <div class="dispathTime">00:00</div>
                    </div>
                    <div class="messageText">
                        <div id="text">
                            {{ message.text }}
                        </div>
                        <img
                        width="400"
                        v-if="message.imgSrc"
                        :src="message.imgSrc">
                    </div>
                </div>
            </div>
            
            <div id="chatFooter">
                <div id="inputWrapper">
                    <input type="text"
                    id="inputMessage"
                    placeholder="Введите сообщение"
                    @keyup.enter="sendMessage()"
                    v-model="message.text"
                    >
                    <div class="imgBtn">
                        <img src="images/emoji.png" height="30px">
                    </div>
                    <div class="imgBtn">
                        <img src="images/clip.png" height="30px">
                        <!-- <input type="file" id="file" @input="uploadFile"> -->
                    </div>  
                    <div class="imgBtn">
                        <img src="images/telegram.png" @click="sendMessage" height="30px">
                    </div>
                </div>
                <div id="previewImg" v-if="message.imgSrc">
                    <img :src="message.imgSrc">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="script.js"></script>
</html>