<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/defaultTheme.css">
</head>
<body>
    
    <div id="app">
        <div id="blackout" v-if="modal.seen">

            <!-- Редактировать аккаунт -->

            <div id="auth-menu" v-if="modal.option == 'editMode'">
                <div id="auth-menu-block">
                    <h1 id="title-auth">Редактировать</h1>
    <form id="x" enctype="multipart/form-data">
        <div id="edit-img">
        <div id="edit-img-block">
            <img :src="loadedImg || editBuffer.avatarUrl" id="edit-img-preview">
            <div id="edit-img-btn">
                <div id="blackout">
                    <div class="menuItem">
                    <img src="images/photo.png" id="photo-ico">
                    <input type="file" class="editImg" name="editImg" id="editUserAvatar"
        @input="uploadFile('editUserAvatar','edit-img-preview','default')" >
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id="input-auth-block">
    <input type="text" class="inputAuth" class="name" name="nickname"
    placeholder="Введите имя" v-model="editBuffer.nickname"> 
    </div>
    <div id="input-auth-block">
        <input type="text" class="inputAuth" class="status" name="userStatus"
        placeholder="Введите статус" v-model="editBuffer.status">
        </div>
    </form>
    <button class="saveBtn"
    @click="editUser"
    >Сохранить</button>
                </div>
            </div>

            <!-- Создать беседу -->

            <div id="auth-menu" v-if="modal.option == 'newConv'">
                <div id="auth-menu-block">
                    <h1 id="title-auth">Создать беседу</h1>
    <form id="n" enctype="multipart/form-data">
        <div id="edit-img">
        <div id="edit-img-block">
            <img id="edit-img-preview" name="convIco">
            <div id="edit-img-btn">
                <div id="blackout">
                    <div class="menuItem">
                    <img src="images/photo.png" id="photo-ico">
                    <input type="file" class="editImg" id='convAvatar'
        @input="uploadFile('convAvatar','edit-img-preview','default')" >
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id="input-auth-block">
    <input type="text" class="inputAuth" class="name" name="convName"
    placeholder="Введите название" v-model="newConv.name"> 
    </div>
    <div id="input-auth-block">
        <input type="text" class="inputAuth" class="status" name="convSubname"
        placeholder="Введите подпись" v-model="newConv.subname">
        </div>
    </form>
    
    <button class="saveBtn"
    @click = "newContact"
    >Создать</button>
                </div>
            </div>

            <!-- Участники беседы -->

            <div id="auth-menu" v-show="modal.option == 'inviteToConv'">
                <div id="auth-menu-block">
                    <h1 id="title-auth">Участники ({{ selectedItem.members.length}} / 5)</h1>
                    <div class="blackoutMenuItem" v-for="user in selectedItem.members">
                        <div class="setting">
                            <div class="settingAvatar">
                                <img :src="'avatars/' + user.avatarUrl" width="36">
                            </div>
                            <div class="settingName dark">{{ user.nickname }}</div>
                        </div>
                    </div>
                    <button class="saveBtn"
                    @click="chooseSetting('addMember')"
                    >Добавить участника</button>
                </div>
                
            </div>

            <!-- Пригласить в беседу -->

            <div id="auth-menu" v-if="modal.option == 'addMember'">
                <div id="auth-menu-block">
                    <h1 id="title-auth">Пригласить в беседу</h1>
                    <div class="blackoutMenuItem" v-for="friend in canInvite">
                        <div class="setting">
                            <div class="settingAvatar">
                                <img :src="'avatars/' + friend.avatarUrl" width="36">
                            </div>
                            <div class="settingName dark">{{ friend.nickname }}</div>
                            <img src="images/darkAdd.png" width="18" alt=""
                            @click="invite(friend,selectedItem.id)"
                            >
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Настройки -->

            <div id="auth-menu" v-if="modal.option == 'other'">
                <div id="auth-menu-block">
    <h1 id="title-auth">{{ blackoutContent.title }}</h1>
    <div class="blackoutMenuItem" v-for="item in blackoutContent.items ">
        <div class="setting">
            <div class="settingName dark" @click="item.action">{{ item.name }}</div>
        </div>
    </div>
    <button class="saveBtn" @click="close">Сохранить</button>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <div id="userInfo">
                <div id="avatarBlock">
                    <img height="60px" :src="user.avatarUrl" alt="">
                </div>
                <div id="userInfoBlock">
                    <div id="username">{{ user.nickname }}</div>
                    <div id="userStatus">{{ user.status }}</div>
                </div>
                <div id="editBlock" @click="chooseSetting('editMode')">
                    <img width="30px" src="images/edit.png">
                </div>
            </div>
            <div id="menu">
                <div class="menuItem" 
                @click="selected = 'chats'"
                :class="{active : selected == 'chats'}">
                    <img src="images/messages.png">
                </div>
                <div class="menuItem" 
                @click="selected = 'friends'"
                :class="{active : selected == 'friends'}">
                    <img src="images/friends.png">
                </div>
                <div class="menuItem" 
                @click="selected = 'dial'"
                :class="{active : selected == 'dial'}">
                    <img src="images/dial.png">
                </div>
                <div class="menuItem" 
                @click="selected = 'settings'"
                :class="{active : selected == 'settings'}">
                    <img src="images/settings.png">
                </div>
        </div>
        <input type="text"
        placeholder="Search"
        id="search"
        v-model="searchValue">
        <div id="menuItemsWrapper">

            <!-- Чаты -->

            <div id="menuItems" v-if="selected == 'chats'">
            <div class="item"
            v-for="chat in visible.chats"
            @click="select(chat)">
                <div class="itemAvatar">
                    <img :src="'avatars/' + chat.avatarUrl">
                </div>
                <div class="itemInfo">
                    <div class="itemName">{{ chat.name}}</div>
                    <div class="itemSub">{{ chat.description }}</div>
                </div>
            </div>
        <div id="addContact">
            Добавить контакт 
            <img src="images/add.png"
            class="menuItem"
            @click="chooseSetting('newConv')"
            >
        </div>
        </div>

        <!-- Друзья -->

        <div id="menuItems" v-if="selected == 'friends'">
            <div class="item"
            v-for="friend in visible.friends"
            >
                <div class="itemAvatar">
                    <img :src="'avatars/' + friend.avatarUrl">
                </div>
                <div class="itemInfo">
                    <div class="itemName">{{ friend.nickname}}</div>
                    <div class="itemSub">{{ friend.status }}</div>
                </div>
            </div>
        <div id="addContact">
            Добавить друга 
            <img src="images/add.png"
            class="menuItem"
            @click="chooseSetting('newConv')"
            >
        </div>
        </div>

        <!-- Поиск людей -->

        <div id="menuItems" v-if="selected == 'dial'">
            <h2>Поиск людей</h2>
                <div class="container row">
                    <input type="text" placeholder="Введине ник пользователя" 
                    id="addFriend"
                    v-model="searchUserValue"
                    >
                    <img src="images/search.png" width="16" @click="searchUser">
                </div>
                <div class="item"
                v-if="searchedUser"
            >
                <div class="itemAvatar">
                    <img :src="'avatars/' + searchedUser.avatarUrl">
                </div>
                <div class="itemInfo">
                    <div class="itemName">{{ searchedUser.nickname}}</div>
                    <div class="itemSub">{{ searchedUser.status }}</div>
                </div>
                <img src="images/add.png"
                @click="doFriend(searchedUser)"
                v-if="!isFriend(searchedUser.id)"
                width="18" alt="">
            </div>
        </div>

        <!-- Настройки -->

        <div id="menuItems" v-if="selected == 'settings'">
            <div class="setting" @click="chooseSetting('other')">
                <div class="settingName" >Тема :</div>
                <div class="settingSelected">{{ theme.slice(0,1).toUpperCase() + theme.slice(1) }}</div>
            </div>
            <div class="setting">
                <div class="settingName">Язык :</div>
                <div class="settingSelected">Русский</div>
            </div>
        </div>


        <pre id="exit" @click="exit"><img src="images/exit.png"> Выйти</pre>
        </div>
    </div>
        <div id="chat" v-if="this.chats.length">
            <div id="chatHeader">
                <div id="chatHeaderWrapper">
                    <div id="chatAvatar">
    <img :src="'avatars/' + selectedItem.avatarUrl"/>
                </div>
                <div id="chatInfo">
                    <div id="chatName">{{ selectedItem.name }}</div>
                    <div id="chatDesc">{{ selectedItem.description }}</div>
                </div>
                </div>
                <div id="invite">
                    <a href="#" @click="chooseSetting('inviteToConv')">Пригласить</a>
                </div>
            </div>
            <div id="messages">
                <div class="message"
                v-for="message in selectedItem.messages"
                >
                    <div class="senderInfo">
                        <div class="senderAvatar">
                            <img  :src="'avatars/' + message.avatarUrl">
                        </div>
                        <div class="senderName">{{ message.sender }}</div>
                        <div class="dispathTime">00:00</div>
                    </div>
                    <div class="messageText">
                        <div id="text" v-html="message.text"></div>
                        <img
                        width="400"
                        v-if="message.img"
                        :src="message.img">
                    </div>
                    
                </div>
            </div>
            
            <div id="chatFooter">
                <div id="inputWrapper">
                    <input type="text"
                    id="inputMessage"
                    placeholder="Введите сообщение"
                    @keyup.enter="sendMessage()"
                    v-model="message.text"
                    >
                    <div class="imgBtn">
                        <img src="images/emoji.png" height="30px">
                    </div>
                    <div class="imgBtn">
                        <img src="images/clip.png" height="30px">
        <input type="file" id="inputFile" name="uploadImg"
        @input="uploadImg()">
                    </div>  
                    <div class="imgBtn">
                        <img src="images/telegram.png" @click="sendMessage" height="30px">
                    </div>
                </div>
        <div id="previewImg-block" v-if="message.imgSrc">
                    <img :src="message.imgSrc" width="100" id="previewImg">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script async src="script.js"></script>
</html>