<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messanger</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div id="blackout" v-if="!user.auth">
            <div id="auth-menu">
                <div id="auth-menu-block">
                    <h1 id="title-auth">Авторизация</h1>
                    <div id="input-auth-block">
    <input type="text" id="input-auth"
    placeholder="Введите ссылку на аватарку"
    v-model="user.avatarUrl"
    >
                    </div>
                    <div id="input-auth-block">
    <input type="text" id="input-auth"
    placeholder="Введите имя"
    v-model="user.name"
    > 
                    </div>
                    <div id="input-auth-block">
    <input type="text" id="input-auth"
    placeholder="Введите статус"
    v-model="user.status"
    >
                    </div>
                    <button id="Log-in" @click="Login">Войти</button>
                </div>
            </div>
        </div>
        <aside class="sideMenu" :class='{darkSide : blackTheme}'>
            <div class="content">
                <div id="user">
                    <div id="user-avatar">
<img :src="user.avatarUrl" id="avatar" width="50" height="50">
                    </div>
                    <div id="user-info">
                        <div id="user-name">{{ user.name }}</div>
                        <div id="user-status">{{ user.status }}</div>
                    </div>
                    <div id="alerts"></div>
                </div>
                <div id="controls">
    <div id="chats" class="control"
    :class="{active : selected == 'chats'}"
    @click="selected = 'chats'"
    >
        <img src="images/messages.png" id="control-img">
    </div>
    <div id="friends" class="control"
    :class="{active : selected == 'contacts'}" @click="selected = 'contacts'">
        <img src="images/friends.png" id="control-img">
    </div>
    <div id="dial" class="control"
    :class="{active : selected == 'dial'}"  @click="selected = 'dial'">
        <img src="images/dial.png" id="control-img">
    </div>
    <div id="settings-icon" class="control"
    :class="{active : selected == 'settings'}"  @click="selected = 'settings'">
        <img src="images/settings.png" id="control-img">
    </div>
                </div>
                    <input id="search" :class="{darkSearch : blackTheme}" placeholder="Search">
                <div id="items-lists">
            <div id="item-list" v-if="selected == 'chats'" v-for="chat in chats.allChats">
        <div id="inner-block">
            <div id="item-avatar">
                <img :src="chat.avatarUrl" id="avatar-contact">
            </div>
            <div id="item-info">
                <div id="item-major-text">{{ chat.name }}</div>
                <div id="item-minor-text">{{ chat.lastMessage }}</div>
            </div>
        </div>
    </div>        
            <div id="item-list" v-if="selected == 'contacts'" v-for="contact in contacts.allContacts">
        <div id="inner-block">
            <div id="item-avatar">
                <img :src="contact.avatarUrl" id="avatar-contact">
            </div>
            <div id="item-info">
                <div id="item-major-text">{{ contact.name }}</div>
                <div id="item-minor-text">{{ contact.lastMessage }}</div>
            </div>
        </div>
    </div>
        <div id="settings" v-if="selected == 'settings'">
            <div id="setting">
            <div id="setting-text">Темная тема</div>
            <label id="checkbox">
                <input type="checkbox" v-model="blackTheme">
            </label>
        </div>
        </div>
        
                </div>
            </div>
        </aside>
        <main id="chat">
            <div id="dialog-header">
                     <div id="dialog-avatar-section">
                         <img id="dialog-avatar" src="https://sun9-76.userapi.com/ZGeclmvivsjkMdnMMTBFcngE1VWtlZMFnokKqQ/GLW2Wv76gZM.jpg?ava=1">
                     </div>
                     <div id="dialog-info">
        <div id="dialog-name">Разработчики</div>
        <div id="dialog-desc">Разрабатываем мессенджер</div>
                     </div>
                     <div id="dialog-controls">
                         <a href="#" id="invite">Пригласить</a>
                         <div id="settings"></div>
                     </div>
                 </div>
            <div class="content">
                <div id="messages">
                    <div id="message"
                    v-for="(message,i) in messages"
                    :key="i"
                    >
        <div id="user-avatar-container">
    <img :src="message.avatarUrl" id="avatar" width="55">
                        </div>
                        <div id="msg-block">
                            <div id="msg-sender">{{ message.sender}}</div>
                            <div id="msg-text">{{ message.text }}</div>
                        </div>
                    </div>
                </div> 
            </div>
           <div id="new-message">
                    <div id="message-input">
                        <input type="text" 
                        id="msg-input" 
                        autocomplete="off" 
                        placeholder="Введите сообщение"
                        v-model="newMessage"
                        @keyup.enter="sendMessage"
                        >  
                    </div>
                    <div id="extend-msg">
                            <div id="extend-msg-btn" >
                <img src="images/clip.png" id="extend-msg-img">
                            </div>
                            <div id="extend-msg-btn">
                <img src="images/emoji.png" id="extend-msg-img">
                            </div>
                            <div id="extend-msg-btn">
                <img src="images/telegram.png"  id="extend-msg-img" @click="sendMessage">
                            </div>
                        </div>
                </div>
        </main>
    </div>
</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="script.js"></script>
</html>