.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6px 0;
    width: 100%;
    height: auto;
    font-weight: 600;

    &__wrapper {
        position: relative;
        padding: 8px;
        border-radius: 4px;
        min-width: 30%;
        max-width: 60%;
        background: lightgray;
        transition: .2s;

        &:hover {
            .message__edit {
                display: block;
            }
        }
    }

    &__edit {
        display: none;
        position: absolute;
        max-width: 22px;
        top: 4px;
        left: 4px;
    }

    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
    }

    &__avatar {
        height: 50px;
        width: 50px;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    &__sender {
        margin-right: 10px;
    }

    &__body {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .emoji {
        max-width: 32px;
        margin: 0 2px;
    }  

    &__attachments {
        margin-top: 8px;

        img {
            max-width: 100%;
        }
    }

    &.selected {
        background: #ccc;
    }
}

.message.your {
    align-items: flex-end;

    .message__avatar {
        margin-right: 0;
        margin-left: 8px;
    }

    .message__wrapper {
        background: #261c46;
        color: #fff;

        &.dark {
            background: #1a1b28;
        }
    }
    
    .message__top {
        flex-direction: row-reverse;
    }

    .message__sender {
        margin-right: 0;
        margin-left: 10px;
    }

    .message__text {
        text-align: right;
    }

}

